body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.coffee-shop-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px; /* Optional: limit the maximum width of the grid */
}

.coffee-shop-tile {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: left; /* Align text to the left */
  background-color: #f9f9f9;
  flex: 1 1 calc(33.333% - 40px); /* Three items per row with gap */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  max-width: calc(33.333% - 40px); /* Ensure items have the same size */
}

.coffee-shop-tile:hover {
  transform: scale(1.05);
}

.coffee-shop-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.coffee-shop-details {
  flex: 1;
}

.coffee-shop-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.coffee-shop-vote-rate {
  color: #888;
  font-size: 1em;
  display: flex;
  margin-bottom: 5px;
}

.star {
  font-size: 1.2em;
  color: #ffd700; /* Gold color for stars */
}

.star.filled {
  color: #ffd700; /* Gold color for filled stars */
}

.coffee-shop-location {
  font-style: italic;
  color: #555;
  font-size: 0.9em;
}

.coffee-shop-description {
  color: #666;
  font-size: 0.9em;
  margin-top: 10px;
}

.coffee-shop-link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.coffee-shop-link:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .coffee-shop-tile {
    flex: 1 1 calc(50% - 40px); /* Two items per row */
    max-width: calc(50% - 40px); /* Ensure items have the same size */
  }
}

@media (max-width: 768px) {
  .coffee-shop-tile {
    flex: 1 1 calc(100% - 40px); /* One item per row */
    max-width: calc(100% - 40px); /* Ensure items have the same size */
    margin: 0 auto; /* Center the item */
  }
}